@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.active, .suceed {
    font-weight: bold;
}

.me {
    font-family: 'Satisfy';
}

.succeed {
    color: green;
}

.fail {
    color: red;
}

.inactive {}

.activeRole {
    color: green;
}

.inactiveRole {
    color: gray;
}